mat-drawer-container {
	display: block;
	height: 100%;
	width: 100%;
}

mat-drawer-content {
	padding: 16px;
}

mat-nav-list {
	padding-top: 0;
	padding-bottom: 0;
}

.side-nav-item {
	min-width: 200px;
}
