<mat-table
	matSort
	class="mega-ball-table mat-elevation-z2"
	[dataSource]="dataSource"
>
	<!-- Mega Ball Definition -->
	<ng-container matColumnDef="megaBall">
		<mat-header-cell
			*matHeaderCellDef
			mat-sort-header
			sortActionDescription="Sort by ball"
		>
			Mega Ball
		</mat-header-cell>
		<mat-cell *matCellDef="let row"> {{ row.megaBall }} </mat-cell>
	</ng-container>

	<!-- Total Draws Definition -->
	<ng-container matColumnDef="totalDraws">
		<mat-header-cell
			*matHeaderCellDef
			mat-sort-header
			sortActionDescription="Sort by total draws"
		>
			Total Draws
		</mat-header-cell>
		<mat-cell *matCellDef="let row"> {{ row.totalDraws }} </mat-cell>
	</ng-container>

	<!-- Draw Percentage Definition -->
	<ng-container matColumnDef="drawPercentage">
		<mat-header-cell
			*matHeaderCellDef
			mat-sort-header
			sortActionDescription="Sort by draw percentage"
		>
			Draw Percentage
		</mat-header-cell>
		<mat-cell *matCellDef="let row"> {{ row.drawPercentage.toFixed(3) }}% </mat-cell>
	</ng-container>

	<!-- Recent Draw -->
	<ng-container matColumnDef="mostRecentDraw">
		<mat-header-cell
			*matHeaderCellDef
			mat-sort-header
			sortActionDescription="Sort by recent draw"
		>
			Most Recent Draw
		</mat-header-cell>
		<mat-cell *matCellDef="let row"> {{ row.mostRecentDraw?.toLocaleDateString() ?? "-" }} </mat-cell>
	</ng-container>

	<!-- Current Draw Interval -->
	<ng-container matColumnDef="intervalSinceLastDrawing">
		<mat-header-cell
			*matHeaderCellDef
			mat-sort-header
			sortActionDescription="Sort by current draw interval"
		>
			Current Draw Interval
		</mat-header-cell>
		<mat-cell *matCellDef="let row"> {{ row.intervalSinceLastDrawing }} </mat-cell>
	</ng-container>

	<!-- Mean Draw Interval -->
	<ng-container matColumnDef="meanDrawInterval">
		<mat-header-cell
			*matHeaderCellDef
			mat-sort-header
			sortActionDescription="Sort by mean draw interval"
		>
			Mean Draw Interval
		</mat-header-cell>
		<mat-cell *matCellDef="let row"> {{ row.meanDrawInterval?.toFixed(1) ?? "-" }} </mat-cell>
	</ng-container>

	<!-- Mode Draw Interval -->
	<ng-container matColumnDef="modeDrawInterval">
		<mat-header-cell
			*matHeaderCellDef
			mat-sort-header
			sortActionDescription="Sort by mode draw interval"
		>
			Mode Draw Interval
		</mat-header-cell>
		<mat-cell *matCellDef="let row">{{ row.modeDrawInterval ?? "-" }}</mat-cell>
	</ng-container>

	<!-- Mode Draw Instances -->
	<ng-container matColumnDef="modeDrawInstances">
		<mat-header-cell
			*matHeaderCellDef
			mat-sort-header
			sortActionDescription="Sort by mode draw instances"
		>
			Mode Draw Instances
		</mat-header-cell>
		<mat-cell *matCellDef="let row"> {{ row.modeDrawInstances ?? "-" }} </mat-cell>
	</ng-container>

	<!-- Maximum Draw Interval -->
	<ng-container matColumnDef="maxDrawInterval">
		<mat-header-cell
			*matHeaderCellDef
			mat-sort-header
			sortActionDescription="Sort by maximum draw interval"
		>
			Maximum Draw Interval
		</mat-header-cell>
		<mat-cell *matCellDef="let row"> {{ row.maxDrawInterval }} </mat-cell>
	</ng-container>

	<!-- Minimum Draw Interval -->
	<ng-container matColumnDef="minDrawInterval">
		<mat-header-cell
			*matHeaderCellDef
			mat-sort-header
			sortActionDescription="Sort by minimum draw interval"
		>
			Minimum Draw Interval
		</mat-header-cell>
		<mat-cell *matCellDef="let row"> {{ row.minDrawInterval }} </mat-cell>
	</ng-container>

	<!-- Header and Row Declarations -->
	<mat-header-row
		*matHeaderRowDef="
			[
				'megaBall',
				'totalDraws',
				'drawPercentage',
				'mostRecentDraw',
				'intervalSinceLastDrawing',
				'meanDrawInterval',
				'modeDrawInterval',
				'modeDrawInstances',
				'maxDrawInterval',
				'minDrawInterval'
			];
			sticky: true
		"
	></mat-header-row>
	<mat-row
		*matRowDef="
			let row;
			columns: [
				'megaBall',
				'totalDraws',
				'drawPercentage',
				'mostRecentDraw',
				'intervalSinceLastDrawing',
				'meanDrawInterval',
				'modeDrawInterval',
				'modeDrawInstances',
				'maxDrawInterval',
				'minDrawInterval'
			]
		"
	></mat-row>
	<mat-row *matNoDataRow>
		<mat-progress-bar mode="query"></mat-progress-bar>
	</mat-row>
</mat-table>
