.mega-ball-table {
	height: 35vh;
	width: 95%;
	overflow: auto;
	border-radius: 4px;
}

@media screen and (min-width: 1800px) {
	.mega-ball-table {
		height: 90vh;
		width: 48vw;
		overflow: auto;
		border-radius: 4px;
	}
}
