.ball-table {
	height: 55vh;
	width: 95%;
	overflow: auto;
	border-radius: 4px;
	margin-bottom: 24px;
}

@media screen and (min-width: 1800px) {
	.ball-table {
		height: 90vh;
		width: 48vw;
		overflow: auto;
		border-radius: 4px;
	}
}
