.set-table {
	display: flex;
	flex-direction: column;
	height: 83vh;
	overflow: auto;
	border-radius: 4px;
}

.set-table-loader-header {
	padding: 26px !important;
}
.set-table-loader-content {
	display: flex;
	flex-direction: column;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
}
.set-table-loader-bar {
	padding: 20px 26px;
}

.footer-title {
	margin-right: 16px;
}
.footer-total {
	margin-left: auto;
}

mat-footer-cell {
	font-weight: 500;
	border-top-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
	border-top-width: var(--mat-table-row-item-outline-width, 1px);
	border-top-style: solid;
}

mat-footer-row {
	margin-top: auto;
}
