<ng-container *ngIf="dataSource.data.length > 0; else loading">
	<mat-table
		matSort
		class="set-table mat-elevation-z2"
		[dataSource]="dataSource"
	>
		<!-- Index  -->
		<ng-container matColumnDef="index">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by index"
			>
				Index
			</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{ row.index }} </mat-cell>
			<mat-footer-cell *matFooterCellDef
				><span class="footer-title">Ranges:</span> {{ footerData ? footerData.indexRangeStart : 0 }}-{{
					footerData ? footerData.indexRangeEnd : 0
				}}
			</mat-footer-cell>
		</ng-container>

		<!-- Draw Date  -->
		<ng-container matColumnDef="date">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by date"
			>
				Draw Date
			</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{ row.date?.toLocaleDateString() ?? "-" }} </mat-cell>
			<mat-footer-cell *matFooterCellDef
				>{{ footerData?.drawDateRangeStart | dateSpan: footerData?.drawDateRangeEnd }}
			</mat-footer-cell>
		</ng-container>

		<!-- First Ball -->
		<ng-container matColumnDef="firstBall">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by first ball"
			>
				First Ball
			</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{ row.firstBall }} </mat-cell>
			<mat-footer-cell *matFooterCellDef
				>{{ footerData ? footerData.firstBallRangeStart : 0 }}-{{
					footerData ? footerData.firstBallRangeEnd : 0
				}}
			</mat-footer-cell>
		</ng-container>

		<!-- First Diff  -->
		<ng-container matColumnDef="firstDiff">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by first diff"
			>
				1st Diff
			</mat-header-cell>
			<mat-cell
				*matCellDef="let row"
				[ngClass]="row.firstDiff > 0 ? 'pos-diff' : row.firstDiff < 0 ? 'neg-diff' : 'neu-diff'"
			>
				{{ row.firstDiff | posNeg }}
			</mat-cell>
			<mat-footer-cell *matFooterCellDef>
				{{ footerData?.firstDiffMin }} < {{ footerData?.firstDiffMinMean | mean }} |
				{{ footerData?.firstDiffMaxMean | mean }} >
				{{ footerData?.firstDiffMax }}
			</mat-footer-cell>
		</ng-container>

		<!-- Second Ball  -->
		<ng-container matColumnDef="secondBall">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by second ball"
			>
				Second Ball
			</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{ row.secondBall }} </mat-cell>
			<mat-footer-cell *matFooterCellDef
				>{{ footerData ? footerData.secondBallRangeStart : 0 }}-{{
					footerData ? footerData.secondBallRangeEnd : 0
				}}
			</mat-footer-cell>
		</ng-container>

		<!-- Second Diff  -->
		<ng-container matColumnDef="secondDiff">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by second diff"
			>
				2nd Diff
			</mat-header-cell>
			<mat-cell
				*matCellDef="let row"
				[ngClass]="row.secondDiff > 0 ? 'pos-diff' : row.secondDiff < 0 ? 'neg-diff' : 'neu-diff'"
			>
				{{ row.secondDiff | posNeg }}
			</mat-cell>
			<mat-footer-cell *matFooterCellDef>
				{{ footerData?.secondDiffMin }} < {{ footerData?.secondDiffMinMean | mean }} |
				{{ footerData?.secondDiffMaxMean | mean }} >
				{{ footerData?.secondDiffMax }}
			</mat-footer-cell>
		</ng-container>

		<!-- Third Ball  -->
		<ng-container matColumnDef="thirdBall">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by third ball"
			>
				Third Ball
			</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{ row.thirdBall }} </mat-cell>
			<mat-footer-cell *matFooterCellDef
				>{{ footerData ? footerData.thirdBallRangeStart : 0 }}-{{
					footerData ? footerData.thirdBallRangeEnd : 0
				}}
			</mat-footer-cell>
		</ng-container>

		<!-- Third Diff  -->
		<ng-container matColumnDef="thirdDiff">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by third diff"
			>
				3rd Diff
			</mat-header-cell>
			<mat-cell
				*matCellDef="let row"
				[ngClass]="row.thirdDiff > 0 ? 'pos-diff' : row.thirdDiff < 0 ? 'neg-diff' : 'neu-diff'"
			>
				{{ row.thirdDiff | posNeg }}
			</mat-cell>
			<mat-footer-cell *matFooterCellDef>
				{{ footerData?.thirdDiffMin }} < {{ footerData?.thirdDiffMinMean | mean }} |
				{{ footerData?.thirdDiffMaxMean | mean }} >
				{{ footerData?.thirdDiffMax }}
			</mat-footer-cell>
		</ng-container>

		<!-- Fourth Ball  -->
		<ng-container matColumnDef="fourthBall">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by fourth ball"
			>
				Fourth Ball
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				{{ row.fourthBall }}
			</mat-cell>
			<mat-footer-cell *matFooterCellDef
				>{{ footerData ? footerData.fourthBallRangeStart : 0 }}-{{
					footerData ? footerData.fourthBallRangeEnd : 0
				}}
			</mat-footer-cell>
		</ng-container>

		<!-- Fourth Diff  -->
		<ng-container matColumnDef="fourthDiff">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by fourth diff"
			>
				4th Diff
			</mat-header-cell>
			<mat-cell
				*matCellDef="let row"
				[ngClass]="row.fourthDiff > 0 ? 'pos-diff' : row.fourthDiff < 0 ? 'neg-diff' : 'neu-diff'"
			>
				{{ row.fourthDiff | posNeg }}
			</mat-cell>
			<mat-footer-cell *matFooterCellDef>
				{{ footerData?.fourthDiffMin }} < {{ footerData?.fourthDiffMinMean | mean }} |
				{{ footerData?.fourthDiffMaxMean | mean }} >
				{{ footerData?.fourthDiffMax }}
			</mat-footer-cell>
		</ng-container>

		<!-- Fifth Ball  -->
		<ng-container matColumnDef="fifthBall">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by fifth ball"
			>
				Fifth Ball
			</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{ row.fifthBall }} </mat-cell>
			<mat-footer-cell *matFooterCellDef
				>{{ footerData ? footerData.fifthBallRangeStart : 0 }}-{{
					footerData ? footerData.fifthBallRangeEnd : 0
				}}
			</mat-footer-cell>
		</ng-container>

		<!-- Fifth Diff  -->
		<ng-container matColumnDef="fifthDiff">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by fifth diff"
			>
				5th Diff
			</mat-header-cell>
			<mat-cell
				*matCellDef="let row"
				[ngClass]="row.fifthDiff > 0 ? 'pos-diff' : row.fifthDiff < 0 ? 'neg-diff' : 'neu-diff'"
			>
				{{ row.fifthDiff | posNeg }}
			</mat-cell>
			<mat-footer-cell *matFooterCellDef>
				{{ footerData?.fifthDiffMin }} < {{ footerData?.fifthDiffMinMean | mean }} |
				{{ footerData?.fifthDiffMaxMean | mean }} >
				{{ footerData?.fifthDiffMax }}
			</mat-footer-cell>
		</ng-container>

		<!-- Mega Ball  -->
		<ng-container matColumnDef="megaBall">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by first ball"
			>
				Mega Ball
			</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{ row.megaBall }} </mat-cell>
			<mat-footer-cell *matFooterCellDef
				>{{ footerData ? footerData.megaBallRangeStart : 0 }}-{{ footerData ? footerData.megaBallRangeEnd : 0 }}
			</mat-footer-cell>
		</ng-container>

		<!-- Mega Diff  -->
		<ng-container matColumnDef="megaDiff">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by mega diff"
			>
				Mega Diff
			</mat-header-cell>
			<mat-cell
				*matCellDef="let row"
				[ngClass]="row.megaDiff > 0 ? 'pos-diff' : row.megaDiff < 0 ? 'neg-diff' : 'neu-diff'"
			>
				{{ row.megaDiff | posNeg }}
			</mat-cell>
			<mat-footer-cell *matFooterCellDef>
				{{ footerData?.megaDiffMin }} < {{ footerData?.megaDiffMinMean | mean }} |
				{{ footerData?.megaDiffMaxMean | mean }} >
				{{ footerData?.megaDiffMax }}
			</mat-footer-cell>
		</ng-container>

		<!-- Megaplier  -->
		<ng-container matColumnDef="megaplier">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by megaplier"
			>
				Megaplier
			</mat-header-cell>
			<mat-cell *matCellDef="let row"> {{ row.megaplier }}x </mat-cell>
			<mat-footer-cell *matFooterCellDef
				>{{ footerData ? footerData.megaplierRangeStart : 0 }}-{{
					footerData ? footerData.megaplierRangeEnd : 0
				}}
				<span class="footer-total">Total: {{ footerData ? footerData.totalSets : 0 }}</span>
			</mat-footer-cell>
		</ng-container>

		<!-- Diff Sum  -->
		<ng-container matColumnDef="diffSum">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by diff sum"
			>
				Diff Sum
			</mat-header-cell>
			<mat-cell
				*matCellDef="let row"
				[ngClass]="row.diffSum > 0 ? 'pos-diff' : row.diffSum < 0 ? 'neg-diff' : 'neu-diff'"
			>
				{{ row.diffSum | posNeg }}</mat-cell
			>
			<mat-footer-cell
				*matFooterCellDef
				[ngClass]="
					footerData
						? footerData.diffSum > 0
							? 'pos-diff'
							: footerData.diffSum < 0
								? 'neg-diff'
								: 'neu-diff'
						: ''
				"
			>
				{{ footerData?.diffSum | posNeg }}
			</mat-footer-cell>
		</ng-container>

		<!-- Diff Mean  -->
		<ng-container matColumnDef="diffMean">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by diff sum"
			>
				Diff Mean
			</mat-header-cell>
			<mat-cell
				*matCellDef="let row"
				[ngClass]="row.diffMean > 0 ? 'pos-diff' : row.diffMean < 0 ? 'neg-diff' : 'neu-diff'"
			>
				{{ row.diffMean | posNeg }}
			</mat-cell>
			<mat-footer-cell *matFooterCellDef>
				<span
					[ngClass]="
						footerData
							? footerData.diffSumMean > 0
								? 'pos-diff'
								: footerData.diffSumMean < 0
									? 'neg-diff'
									: 'neu-diff'
							: ''
					"
				>
					{{ footerData?.diffSumMean | posNeg: 3 }}
				</span>
			</mat-footer-cell>
		</ng-container>

		<!-- Diff Aggregate  -->
		<ng-container matColumnDef="diffAggregate">
			<mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by diff sum"
			>
				Diff Aggregate
			</mat-header-cell>
			<mat-cell
				*matCellDef="let row"
				[ngClass]="row.diffAggregate > 0 ? 'pos-diff' : row.diffAggregate < 0 ? 'neg-diff' : 'neu-diff'"
			>
				{{ row.diffAggregate | posNeg }}
			</mat-cell>
			<mat-footer-cell *matFooterCellDef>
				<span
					[ngClass]="
						footerData
							? footerData.diffAggregateMin > 0
								? 'pos-diff'
								: footerData.diffAggregateMin < 0
									? 'neg-diff'
									: 'neu-diff'
							: ''
					"
				>
					{{ footerData?.diffAggregateMin | posNeg }}
				</span>
				-
				<span
					[ngClass]="
						footerData
							? footerData.diffAggregateMax > 0
								? 'pos-diff'
								: footerData.diffAggregateMax < 0
									? 'neg-diff'
									: 'neu-diff'
							: ''
					"
				>
					{{ footerData?.diffAggregateMax | posNeg }}
				</span>
				<!-- <span class="footer-total">Total: {{ footerData ? footerData.totalSets : 0 }}</span> -->
			</mat-footer-cell>
		</ng-container>

		<!-- Header and Row Declarations -->
		<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
		<mat-row
			*matRowDef="let row; columns: displayedColumns"
			(click)="handleRowSelection(row)"
			[class.selected-row]="selectedRows.has(row)"
		></mat-row>
		<mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
	</mat-table>
</ng-container>

<ng-template #loading>
	<mat-card>
		<mat-card-header class="set-table-loader-header">
			<mat-progress-bar mode="query"></mat-progress-bar>
		</mat-card-header>
	</mat-card>
</ng-template>
