.set-table {
	display: flex;
	flex-direction: column;
	overflow: auto;
	border-radius: 8px;
	height: 100%;
}

.set-table-loader-header {
	padding: 26px !important;
}
.set-table-loader-content {
	display: flex;
	flex-direction: column;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
}

.selected-row {
	font-weight: 550;
	border-color: rgba(0, 0, 0, 0.35);
	border-width: 2px;
	border-radius: 2px;
	border-style: solid;
	background: unset;
	> .mat-mdc-cell {
		align-self: unset;
	}
	> mat-cell:first-of-type {
		padding-left: 22px;
	}
}

.divider {
	margin: 0 4px;
}

.set-table-loader-bar {
	padding: 20px 26px;
}

.footer-title {
	margin-right: 16px;
}
.footer-total {
	margin-left: auto;
}

.pos-diff {
	color: limegreen;
	font-weight: 500;
}
.neg-diff {
	color: crimson;
	font-weight: 500;
}
.neu-diff {
	font-weight: 500;
}

mat-footer-cell {
	font-weight: 500;
	border-top-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
	border-top-width: var(--mat-table-row-item-outline-width, 1px);
	border-top-style: solid;
}

mat-footer-row {
	margin-top: auto;
}
