<mat-card class="set-filter">
	<form class="set-filter-form">
		<!-- <div class="index-range-container"> -->
		<mat-form-field appearance="outline">
			<mat-label>Index Start</mat-label>
			<input
				[ngModel]="indexStart | async"
				(ngModelChange)="indexStart.next($event)"
				name="indexStart"
				type="number"
				[min]="1"
				[max]="(indexEnd | async) ?? 2000"
				matInput
				[placeholder]="'1-' + getStartIndexMax().toString()"
			/>
		</mat-form-field>
		<span>to</span>
		<mat-form-field appearance="outline">
			<mat-label>Index End</mat-label>
			<input
				[ngModel]="indexEnd | async"
				(ngModelChange)="indexEnd.next($event)"
				name="indexEnd"
				type="number"
				[min]="(indexStart | async) ?? 1"
				[max]="2000"
				matInput
				[placeholder]="getEndIndexMin().toString() + '-2000'"
			/>
		</mat-form-field>
		<!-- </div> -->
		<mat-form-field appearance="outline">
			<mat-label>Date Range</mat-label>
			<mat-date-range-input
				[rangePicker]="picker"
				[min]="earliestDate"
				[max]="latestDate"
			>
				<input
					matStartDate
					startView="multi-year"
					name="startDate"
					[min]="earliestDate"
					[max]="latestDate"
					[ngModel]="startDate | async"
					(ngModelChange)="startDate.next($event)"
					placeholder="Start date"
				/>
				<input
					matEndDate
					startView="multi-year"
					name="endDate"
					[min]="earliestDate"
					[max]="latestDate"
					[ngModel]="endDate | async"
					(ngModelChange)="endDate.next($event)"
					placeholder="End date"
				/>
			</mat-date-range-input>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="picker"
			></mat-datepicker-toggle>
			<mat-date-range-picker #picker></mat-date-range-picker>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>First Ball</mat-label>
			<input
				[ngModel]="firstBall | async"
				(ngModelChange)="firstBall.next($event)"
				name="firstBall"
				type="number"
				[min]="1"
				[max]="firstBallMax()"
				matInput
				[placeholder]="'1-' + firstBallMax().toString()"
			/>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Second Ball</mat-label>
			<input
				[ngModel]="secondBall | async"
				(ngModelChange)="secondBall.next($event)"
				name="secondBall"
				type="number"
				[min]="(firstBall | async) ?? 2"
				[max]="secondBallMax()"
				matInput
				[placeholder]="secondBallMin().toString() + '-' + secondBallMax().toString()"
			/>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Third Ball</mat-label>
			<input
				[ngModel]="thirdBall | async"
				(ngModelChange)="thirdBall.next($event)"
				name="thirdBall"
				type="number"
				[min]="thirdBallMin()"
				[max]="thirdBallMax()"
				matInput
				[placeholder]="thirdBallMin().toString() + '-' + thirdBallMax().toString()"
			/>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Fourth Ball</mat-label>
			<input
				[ngModel]="fourthBall | async"
				(ngModelChange)="fourthBall.next($event)"
				name="fourthBall"
				type="number"
				[min]="fourthBallMin()"
				[max]="(fifthBall | async) ?? 74"
				matInput
				[placeholder]="fourthBallMin().toString() + '-' + fourthBallMax().toString()"
			/>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Fifth Ball</mat-label>
			<input
				[ngModel]="fifthBall | async"
				(ngModelChange)="fifthBall.next($event)"
				name="fifthBall"
				type="number"
				[min]="fifthBallMin()"
				[max]="75"
				matInput
				[placeholder]="fifthBallMin().toString() + '-75'"
			/>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Mega Ball</mat-label>
			<input
				[ngModel]="megaBall | async"
				(ngModelChange)="megaBall.next($event)"
				name="megaBall"
				type="number"
				[min]="1"
				[max]="50"
				matInput
				placeholder="1-50"
			/>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Megaplier</mat-label>
			<input
				[ngModel]="megaplier | async"
				(ngModelChange)="megaplier.next($event)"
				name="megaplier"
				type="number"
				[min]="2"
				[max]="5"
				matInput
				placeholder="2-5"
			/>
		</mat-form-field>
	</form>
</mat-card>
