<mat-accordion>
	<mat-expansion-panel
		(opened)="filterExpanded.next(true)"
		(closed)="filterExpanded.next(false)"
	>
		<mat-expansion-panel-header class="expansion-header">
			<mat-panel-title class="expansion-title"
				><mat-icon>filter_alt</mat-icon>
				<h3>Filters</h3></mat-panel-title
			>
		</mat-expansion-panel-header>
		<form class="set-filter-form">
			<!-- Diff Toggle -->
			<section class="toggle">
				<span class="toggle-title">Diff Columns</span>
				<mat-slide-toggle
					name="toggleDiff"
					[ngModel]="toggleDiff | async"
					(change)="toggleDiff.next($event.checked)"
				/>
			</section>
			<!-- Index Filter -->
			<mat-form-field appearance="outline">
				<mat-label>Index Start</mat-label>
				<input
					[ngModel]="indexStart | async"
					(ngModelChange)="indexStart.next($event)"
					name="indexStart"
					type="number"
					[min]="1"
					[max]="(indexEnd | async) ?? 2000"
					matInput
					[placeholder]="'1-' + getStartIndexMax().toString()"
				/>
				@if (indexStart | async) {
					<button
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="indexStart.next(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				}
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Index End</mat-label>
				<input
					[ngModel]="indexEnd | async"
					(ngModelChange)="indexEnd.next($event)"
					name="indexEnd"
					type="number"
					[min]="(indexStart | async) ?? 1"
					[max]="2000"
					matInput
					[placeholder]="getEndIndexMin().toString() + '-2000'"
				/>
				@if (indexEnd | async) {
					<button
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="indexEnd.next(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				}
			</mat-form-field>
			<!-- Date Range Filter -->
			<mat-form-field appearance="outline">
				<mat-label>Date Range</mat-label>
				<mat-date-range-input
					[rangePicker]="picker"
					[min]="(dateCutoff | async) ?? earliestDate"
					[max]="latestDate"
				>
					<input
						matStartDate
						name="startDate"
						[min]="(dateCutoff | async) ?? earliestDate"
						[max]="latestDate"
						[ngModel]="startDate | async"
						(ngModelChange)="startDate.next($event)"
						placeholder="Start date"
					/>
					<input
						matEndDate
						name="endDate"
						[min]="(dateCutoff | async) ?? earliestDate"
						[max]="latestDate"
						[ngModel]="endDate | async"
						(ngModelChange)="endDate.next($event)"
						placeholder="End date"
					/>
				</mat-date-range-input>
				<mat-datepicker-toggle
					matIconSuffix
					[for]="picker"
				></mat-datepicker-toggle>
				<mat-date-range-picker
					#picker
					startView="multi-year"
					[startAt]="earliestDate"
				>
					<mat-date-range-picker-actions>
						<button
							matDateRangePickerCancel
							mat-stroked-button
							(click)="startDate.next(null); endDate.next(null)"
						>
							Clear
						</button>
						<button
							mat-raised-button
							color="primary"
							matDateRangePickerApply
						>
							Apply
						</button>
					</mat-date-range-picker-actions>
				</mat-date-range-picker>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Ball</mat-label>
				<input
					[ngModel]="ball | async"
					(ngModelChange)="ball.next($event)"
					name="ball"
					type="number"
					[min]="1"
					[max]="75"
					matInput
					placeholder="1-75"
				/>
				@if (ball | async) {
					<button
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="ball.next(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				}
			</mat-form-field>
			<!-- First Ball Filter -->
			<mat-form-field appearance="outline">
				<mat-label>First Ball</mat-label>
				<input
					[ngModel]="firstBall | async"
					(ngModelChange)="firstBall.next($event)"
					name="firstBall"
					type="number"
					[disabled]="(ball | async) ? true : false"
					[min]="1"
					[max]="firstBallMax()"
					matInput
					[placeholder]="'1-' + firstBallMax().toString()"
				/>
				@if (firstBall | async) {
					<button
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="firstBall.next(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				}
			</mat-form-field>
			<!-- Second Ball Filter -->
			<mat-form-field appearance="outline">
				<mat-label>Second Ball</mat-label>
				<input
					[ngModel]="secondBall | async"
					(ngModelChange)="secondBall.next($event)"
					name="secondBall"
					type="number"
					[disabled]="(ball | async) ? true : false"
					[min]="(firstBall | async) ?? 2"
					[max]="secondBallMax()"
					matInput
					[placeholder]="secondBallMin().toString() + '-' + secondBallMax().toString()"
				/>
				@if (secondBall | async) {
					<button
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="secondBall.next(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				}
			</mat-form-field>
			<!-- Third Ball Filter -->
			<mat-form-field appearance="outline">
				<mat-label>Third Ball</mat-label>
				<input
					[ngModel]="thirdBall | async"
					(ngModelChange)="thirdBall.next($event)"
					name="thirdBall"
					type="number"
					[disabled]="(ball | async) ? true : false"
					[min]="thirdBallMin()"
					[max]="thirdBallMax()"
					matInput
					[placeholder]="thirdBallMin().toString() + '-' + thirdBallMax().toString()"
				/>
				@if (thirdBall | async) {
					<button
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="thirdBall.next(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				}
			</mat-form-field>
			<!-- Fourth Ball Filter -->
			<mat-form-field appearance="outline">
				<mat-label>Fourth Ball</mat-label>
				<input
					[ngModel]="fourthBall | async"
					(ngModelChange)="fourthBall.next($event)"
					name="fourthBall"
					type="number"
					[disabled]="(ball | async) ? true : false"
					[min]="fourthBallMin()"
					[max]="(fifthBall | async) ?? 74"
					matInput
					[placeholder]="fourthBallMin().toString() + '-' + fourthBallMax().toString()"
				/>
				@if (fourthBall | async) {
					<button
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="fourthBall.next(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				}
			</mat-form-field>
			<!-- Fifth Ball Filter -->
			<mat-form-field appearance="outline">
				<mat-label>Fifth Ball</mat-label>
				<input
					[ngModel]="fifthBall | async"
					(ngModelChange)="fifthBall.next($event)"
					name="fifthBall"
					type="number"
					[disabled]="(ball | async) ? true : false"
					[min]="fifthBallMin()"
					[max]="75"
					matInput
					[placeholder]="fifthBallMin().toString() + '-75'"
				/>
				@if (fifthBall | async) {
					<button
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="fifthBall.next(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				}
			</mat-form-field>
			<!-- Mega Ball Filter -->
			<mat-form-field appearance="outline">
				<mat-label>Mega Ball</mat-label>
				<input
					[ngModel]="megaBall | async"
					(ngModelChange)="megaBall.next($event)"
					name="megaBall"
					type="number"
					[min]="1"
					[max]="50"
					matInput
					placeholder="1-50"
				/>
				@if (megaBall | async) {
					<button
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="megaBall.next(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				}
			</mat-form-field>
			<!-- Megaplier Filter -->
			<mat-form-field appearance="outline">
				<mat-label>Megaplier</mat-label>
				<input
					[ngModel]="megaplier | async"
					(ngModelChange)="megaplier.next($event)"
					name="megaplier"
					type="number"
					[min]="2"
					[max]="5"
					matInput
					placeholder="2-5"
				/>
				@if (megaplier | async) {
					<button
						matSuffix
						mat-icon-button
						aria-label="Clear"
						(click)="megaplier.next(null)"
					>
						<mat-icon>close</mat-icon>
					</button>
				}
			</mat-form-field>
			<!-- Year Cutoff -->
			<mat-form-field appearance="outline">
				<mat-label>Cutoff Year</mat-label>
				<mat-select
					name="dateCutoff"
					[value]="dateCutoff | async"
					(selectionChange)="dateCutoff.next($event.value)"
				>
					@for (date of cutoffDates; track date) {
						<mat-option [value]="date">{{ date.getFullYear() }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
		</form>
	</mat-expansion-panel>
</mat-accordion>
