.set-filter-form {
	padding-top: 24px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	column-gap: 16px;
	justify-content: space-between;
}

.index-range-container {
	display: flex;
	flex-direction: row;
	column-gap: 12px;
	align-items: center;
}

.expansion-header {
	border-bottom-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
	border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
	border-bottom-style: solid;
}

:host ::ng-deep .mat-expansion-panel-body {
	padding: 0 24px !important;
}

.expansion-title {
	display: flex;
	column-gap: 32px;
	align-content: center;
	> h3 {
		font-weight: 500;
		margin-bottom: 0;
	}
}

.mat-mdc-form-field-type-mat-input {
	min-width: 125px;
}
.mat-mdc-form-field-type-mat-select {
	min-width: 150px;
}

.mat-mdc-form-field-type-mat-date-range-input {
	min-width: 250px;
}
