.ball-filter {
	padding: 22px 8px 4px 8px;
}

.expansion-header {
	border-bottom-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
	border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
	border-bottom-style: solid;
}

.expansion-title {
	display: flex;
	column-gap: 32px;
	align-content: center;
	> h3 {
		font-weight: 500;
		margin-bottom: 0;
	}
}

.ball-filter-form {
	margin-top: 16px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.ball-filter-name {
	text-align: center;
	font-weight: 500;
	margin-bottom: 12px;
}

.filter-divider {
	margin: 0 auto 16px auto;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 20px;
}

.mat-mdc-form-field-type-mat-input {
	max-width: 125px;
}
.mat-mdc-form-field-type-mat-select {
	max-width: 100px;
}

.mat-mdc-form-field-type-mat-date-range-input {
	max-width: 250px;
}
