.ball-filter {
	padding: 22px 8px 4px 8px;
}

.ball-filter-form {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.ball-filter-name {
	text-align: center;
	font-weight: 500;
	margin-bottom: 9px;
}

.filter-divider {
	margin: 0 auto 16px auto;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 20px;
}

.mat-mdc-form-field-type-mat-input {
	max-width: 125px;
}
.mat-mdc-form-field-type-mat-select {
	max-width: 100px;
}

.mat-mdc-form-field-type-mat-date-range-input {
	max-width: 250px;
}
