<mat-form-field appearance="outline">
	<mat-label>Select a Ball</mat-label>
	<mat-select
		name="selectedBall"
		[value]="selectedBall | async"
		(selectionChange)="selectedBall.next($event.value)"
	>
		<ng-container *ngFor="let ball of balls | async">
			<mat-option [value]="ball">{{ ball.number }}</mat-option>
		</ng-container>
	</mat-select>
</mat-form-field>

<ng-container *ngIf="selectedBall | async">
	<ng-container *ngIf="dataSource.data.length > 0; else loading">
		<mat-table
			matSort
			class="ball-stats-table mat-elevation-z2"
			[dataSource]="dataSource"
		>
			<ng-container matColumnDef="index">
				<mat-header-cell
					*matHeaderCellDef
					mat-sort-header
					sortActionDescription="Sort by index"
				>
					Index
				</mat-header-cell>
				<mat-cell *matCellDef="let row"> {{ row.index }} </mat-cell>
				<mat-footer-cell *matFooterCellDef>Mean/Mode/Range</mat-footer-cell>
			</ng-container>

			<ng-container matColumnDef="setNumber">
				<mat-header-cell
					*matHeaderCellDef
					mat-sort-header
					sortActionDescription="Sort by set number"
				>
					Set Number
				</mat-header-cell>
				<mat-cell *matCellDef="let row"> {{ row.setNumber }} </mat-cell>
				<mat-footer-cell *matFooterCellDef>Total: {{ footerData ? footerData.total : 0 }}</mat-footer-cell>
			</ng-container>

			<ng-container matColumnDef="drawDate">
				<mat-header-cell
					*matHeaderCellDef
					mat-sort-header
					sortActionDescription="Sort by draw date"
				>
					Draw Date
				</mat-header-cell>
				<mat-cell *matCellDef="let row"> {{ row.drawDate?.toLocaleDateString() ?? "-" }} </mat-cell>
				<mat-footer-cell *matFooterCellDef></mat-footer-cell>
			</ng-container>

			<ng-container matColumnDef="drawnPosition">
				<mat-header-cell
					*matHeaderCellDef
					mat-sort-header
					sortActionDescription="Sort by drawn position"
				>
					Drawn Position
				</mat-header-cell>
				<mat-cell *matCellDef="let row"> {{ row.drawnPosition }} </mat-cell>
				<mat-footer-cell *matFooterCellDef>
					{{ footerData ? footerData.descendingDrawnPositions.toString() : 0 }}</mat-footer-cell
				>
			</ng-container>

			<ng-container matColumnDef="drawPercentage">
				<mat-header-cell
					*matHeaderCellDef
					mat-sort-header
					sortActionDescription="Sort by draw percentage"
				>
					Draw Percentage
				</mat-header-cell>
				<mat-cell *matCellDef="let row"> {{ row.drawPercentage.toFixed(3) }}% </mat-cell>
				<mat-footer-cell *matFooterCellDef
					>{{ footerData ? footerData.meanDrawPercentage.toFixed(3) : 0.0 }}%</mat-footer-cell
				>
			</ng-container>

			<ng-container matColumnDef="drawInterval">
				<mat-header-cell
					*matHeaderCellDef
					mat-sort-header
					sortActionDescription="Sort by current interval"
				>
					Draw Interval
				</mat-header-cell>
				<mat-cell *matCellDef="let row"> {{ row.drawInterval }} </mat-cell>
				<mat-footer-cell *matFooterCellDef>
					{{ footerData ? footerData.drawnIntervalMean.toFixed(1) : 0.0 }} |
					{{ footerData ? footerData.drawnIntervalMode : 0 }} |
					{{ footerData ? footerData.drawnIntervalMin : "" }}-{{
						footerData ? footerData.drawnIntervalMax : ""
					}}
				</mat-footer-cell>
			</ng-container>

			<ng-container matColumnDef="leftBall">
				<mat-header-cell
					*matHeaderCellDef
					mat-sort-header
					sortActionDescription="Sort by left ball"
				>
					Left Ball
				</mat-header-cell>
				<mat-cell *matCellDef="let row"> {{ row.leftBall ?? "-" }} </mat-cell>
				<mat-footer-cell *matFooterCellDef>
					{{ footerData ? footerData.leftBallMean.toFixed(1) : 0.0 }} |
					{{ footerData ? footerData.leftBallMode : 0 }} | {{ footerData ? footerData.leftBallMin : "" }}-{{
						footerData ? footerData.leftBallMax : ""
					}}
				</mat-footer-cell>
			</ng-container>
			<ng-container matColumnDef="rightBall">
				<mat-header-cell
					*matHeaderCellDef
					mat-sort-header
					sortActionDescription="Sort by right ball"
				>
					Right Ball
				</mat-header-cell>
				<mat-cell *matCellDef="let row"> {{ row.rightBall ?? "-" }} </mat-cell>
				<mat-footer-cell *matFooterCellDef>
					{{ footerData ? footerData.rightBallMean.toFixed(1) : 0.0 }} |
					{{ footerData ? footerData.rightBallMode : 0 }} | {{ footerData ? footerData.rightBallMin : "" }}-{{
						footerData ? footerData.rightBallMax : ""
					}}
				</mat-footer-cell>
			</ng-container>

			<!-- Header and Row Declarations -->
			<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			<mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
		</mat-table>
	</ng-container>
</ng-container>

<ng-template #loading>
	<mat-card>
		<mat-card-header class="ball-table-loader-header">
			<mat-progress-bar mode="query"></mat-progress-bar>
		</mat-card-header>
	</mat-card>
</ng-template>
