.set-view-container {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	height: calc(100% - 35px);
	justify-content: space-between;
}

.short-table {
	height: 77vh;
	transition: height 0.25s;
}

.full-table {
	height: 87vh;
	transition: height 0.35s;
}
