.ball-view-container {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	height: calc(100% - 35px);
	justify-content: space-between;
}

.table {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	height: 68vh;
}
