.ball-view-container {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

@media screen and (min-width: 2200px) {
	.ball-view-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
