mat-toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

mat-drawer-container {
	display: flex;
	width: 100%;
}

.title-link {
	color: var(--mdc-list-list-item-label-text-color);
	text-decoration: none;
}
